{% extends 'base.html.twig' %}
{% use "bootstrap_4_layout.html.twig" %}

{% block body %}

<h1>form</h1>

{{ form_start(categoryForm) }}
    {{ form_row(categoryForm.name, {'attr': { 'placeholder': 'Name' }}) }}
    {{ form_row(categoryForm.image, {'attr': { 'placeholder': 'Image URL' }}) }}

    <button class="btn btn-success" type="submit">
        {% if editMode %}
            update
        {% else %}
            create
        {% endif %}
    </button>
{{ form_end(categoryForm) }}

{% endblock %}
