{% extends 'base.html.twig' %}

{% block body %}
<div class="text-center">
    <h1 class="display-4">Categories</h1>
    <a href="{{path('category_new')}}">Create new category</a>
</div>

<div class="row">
    {% for category in categories %}
        <div class="col-lg-6 col-md-12">
            <div class="card border-dark m-4 shadow">
                <h4 class="card-title text-center mt-1">{{category.name}}</h4>
                <img src="{{category.image}}" class="card-img-top" alt="category">
                <div class="card-body">
                    <a href="{{path('category_show', {'id': category.id})}}" class="btn btn-block btn-success border-dark">Details</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
