{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<h1>index category</h1>

{% for category in categories %}

<div>
    <img src="{{category.image}}" alt="product">
    <h2>{{category.name}}</h2>
    <a href="{{path('category_show', {'id': category.id})}}">details</a>
</div>

{% endfor %}

{% endblock %}
